<article>
  <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="title mt-5">edit test</h2><hr>
  <form class="edit-test-form">
    <div>
        <label for="test-title">test title:</label>
      <input class="input" name="test-title" type="text" value="{{test.title}}" />
    </div>
    <div>
        <label for="test-content">test content:</label>
      <input class="textarea" name="test-content" type="text" value="{{test.test_content}}"/>
    </div>
    <div class="is-pulled-right">
       created by you on {{format_date test.created_at}}
      |
      <a href="/test/{{test.id}}">{{test.comments.length}} {{format_plural "comment" test.comments.length}}</a>
    </div>
    <button type="submit" class="button is-success">save test</button>
    <button type="button" class="button is-danger delete-test-btn">delete test</button>
  </form>
</article>

{{> comments test.comments}}

<script src="/javascript/edit-test.js"></script>
<script src="/javascript/delete-test.js"></script>
<script src="/javascript/comment.js"></script>
