<article>
  <a href="/dashboard" class="is-pulled-right"> &larr; Back to Dashboard</a>
<h2 class="title mt-5">Edit Test</h2>

<form class="edit-test-form">
  <div>
    <label for="test-title">Test Title:</label>
    <input class="input" type="text" name="test-title" value="{{test.title}}"/>
  </div>
  <div>
    <label for="test-Content">Test Content:</label>
    <input type="text" class="textarea" name="test-content" value="{{test.test_content}}"/>
  </div>
  <div class="is-pulled-right">
    | created by you on {{format_date test.created_at}}|
    <a href="/test/{{test.id}}">{{test.comments.length}} {{format_plural "comment" test.comments.length}}></a>
  </div>
  
  <button class="button is-success" type="submit">Save Test</button>
  
  <button  class="button is-danger delete-test-btn" type="button">Delete Test</button>
  
</form>
</article>

{{> comments test.comments}}

<script src="/javascript/edit-test.js"></script>
<script src="/javascript/delete-test.js"></script>
<script src="/javascript/comments.js"></script>
